.body {
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center; /* Centers the heading inside */
  }
  